$primary-text: rgb(57, 16, 73);
$bg: rgb(223, 218, 226);
$error-bg: hsla(0, 61%, 64%, 0.644);
$error-border: hsl(0, 71%, 41%);
$green-bg: hsla(103, 47%, 52%, 0.815);
$green-border: hsl(103, 51%, 42%);